@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: #7d5eff;
  --color-dark: black;
  --color-light: white;
  --color-gradiant: linear-gradient(#7e5eff, #7e5eff50);


  /* color-scheme: light dark; */
  color: var(--color-dark);
  background-color: hsla(0, 21%, 88%, 0.349);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color:linear-gradient(#5c38ed, #7e5eff50) ;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
body {
  background-image: url("header.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
* {
  margin: 0 auto;
  scroll-behavior: smooth;
}
a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

